<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>롤 전적 검색 UJM.GG</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<h1>UJM.GG</h1>
<div class="container">
    <form action="/summoner" method="get" accept-charset="UTF-8">
        <div class="embed-submit-field">
            <input type="text" placeholder="소환사명을 입력하세요" name="name"/>
            <button type="submit">검색</button>
        </div>
    </form>
</div>
<img src="https://static.developer.riotgames.com/img/docs/lol/emblems_and_positions.png" alt="메인배너" class="mainimage">
</body>
</html>